<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>Your Movie Library!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar placeholder="Search Movie Library..."></ion-searchbar>

<ion-content>
 
<ion-list class="movieList">
  <!-- Mock Movie Data -->
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/Titanic.jpg"/>
      </ion-thumbnail>
      <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
      <ion-label>Titanic</ion-label>
    </ion-item>

 

 <ion-item>
   <ion-thumbnail slot="start">
     <img src="assets/images/TheLionKing.jpg"/>
   </ion-thumbnail>
   <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
   <ion-label>The Lion King</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/QueenofTheDamned.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Queen of The Damned</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/Miseryfilm.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Misery</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/TheAvengers.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Avengers</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/BDS.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Boondock Saints</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/BreakfastTiffanys.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Breakfast at Tiffany's</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/Hidalgofilm.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Hildago</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/Joker.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Joker</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/TheLostBoys.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Lost Boys</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/VanHelsing.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Van Helsing</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/TheLordOfTheRings.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Lord of The Rings: Fellowship of The Ring</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/PraticalMagic.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Practical Magic</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start" color="danger">
    <img src="/assets/GreenMile.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Green Mile</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Frozen.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Frozen</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Shrek.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Shrek</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/ToyStory3.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Toy Story 3</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/FifthElement.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Fifth Element</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Saw.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Saw</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Fightclub.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Fight Club</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/PearlHarbor.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Pearl Harbor</ion-label>
 </ion-item>


 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Grease.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Grease</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/MeninBlack.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Men in Black</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src=/assets/Ghost.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Ghost</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/TheColourPurple.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Color Purple</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/moulinrouge.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Moulin Rouge</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Mask.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Mask</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/KillBill2.png"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Kill Bill Vol. 2</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/DjangoUnchained.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Django Unchained</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Matrix.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Matrix</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/UnderworldEvolution.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label> Underworld Evolution</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/DeadPoetsSociety.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Dead Poets Society</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Pan.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Pan</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/SpirtedAway.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Spirited Away</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/HPPrisonerofAzkaban.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Harry Potter and The Prisoner of Azkaban</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/TheNeverendingStory.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Neverending Story</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/ClashofTitans.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Clash of The Titans</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Crush.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Crush</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/HocusPocus.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Hocus Pocus</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/PrincessBride.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Princess Bride</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Cinderella.jpeg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Cinderella</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/TheGift.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Gift</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Split.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Split</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/TheBreakfastClub.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>The Breakfast Club</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/CorpseBride.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Corpse Bride</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/BlackPanther.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Black Panther</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/PrideAndPrejudice.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Pride and Pejudice</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="images/Aladdin.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Aladdin</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/HomeAlone.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Home Alone</ion-label>
 </ion-item>

 <ion-item>
  <ion-thumbnail slot="start">
    <img src="/assets/Armageddon.jpg"/>
  </ion-thumbnail>
  <ion-icon name="trash-outline" slot="end" color="danger"></ion-icon>
  <ion-label>Armageddon</ion-label>
 </ion-item>

 <ion-button type="submit" expand="block" color="tertiary">Add a Movie!</ion-button>

</ion-list>
</ion-content>
